openapi: 3.1.0
info:
  title: IFRC Humanitarian Databank Public API
  version: 1.3.0
  description: Public FDRS stats and UPR data plus Unified Plan/report documents. Prefer /public/* routes. No auth. Privacy https://databank.ifrc.org/privacy

servers:
  - url: https://databank.ifrc.org/api/v1

paths:
  /public/global-trend:
    get:
      operationId: getGlobalTrend
      summary: Global totals by reporting period
      description: Deduped global totals by period. Prefer over paginating /data for worldwide trends. Filter data_status=available on raw rows only.
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Metric name e.g. volunteers
        - name: indicator_bank_id
          in: query
          required: false
          schema:
            type: integer
          description: Indicator id e.g. 724
        - name: period_name
          in: query
          required: false
          schema:
            type: string
          description: e.g. Annual 2023
        - name: max_pages
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 20
      responses:
        "200":
          description: by_period with period_name, total, countries_reporting

  /public/indicators/resolve:
    get:
      operationId: resolveIndicator
      summary: Resolve metric name to indicator id
      description: Maps e.g. volunteers to indicator bank id. Prefer over broad indicator-bank search.
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Metric name or numeric id
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 5
            maximum: 20
      responses:
        "200":
          description: best_match and alternatives with id and name

  /public/submissions/coverage:
    get:
      operationId: getSubmissionCoverage
      summary: Count countries with public submitted data
      description: Counts countries with a public value by template/indicator, per period. Use for "how many countries submitted FDRS/UPR data" instead of paginating getPublicData. Public data coverage only, not workflow status.
      parameters:
        - name: template_id
          in: query
          required: false
          schema:
            type: integer
          description: 21 for FDRS, 22 or 24 for UPR
        - name: indicator_bank_id
          in: query
          required: false
          schema:
            type: integer
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Metric name if scoping to one indicator instead of a whole template
        - name: period_name
          in: query
          required: false
          schema:
            type: string
          description: e.g. Annual 2024. Omit for a breakdown across all years
        - name: country_id
          in: query
          required: false
          schema:
            type: integer
        - name: max_pages
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 20
      responses:
        "200":
          description: countries_submitted_total and by_period with period_name, countries_submitted

  /public/countries/resolve:
    get:
      operationId: resolveCountry
      summary: Resolve country name/ISO code to reference fields
      description: Maps a country name, ISO2/ISO3 code, or numeric id to id, name, iso2, iso3, region. Avoids paginating the full countries dimension table just to look up one country.
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Country name, ISO2/ISO3 code, or numeric id
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 5
            maximum: 20
      responses:
        "200":
          description: best_match and alternatives with id, name, iso2, iso3, region

  /public/documents/search:
    get:
      operationId: searchPublicDocuments
      summary: Search public document chunks
      description: Public AI Knowledge Base chunks only. Use full_coverage=true for cross-country UPR themes. Cite title and page; link country names to document_url when citing plans/reports.
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: User question with country and year if relevant
        - name: full_coverage
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Search every in-scope document; return all chunks above min_score (paginated)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page when full_coverage has many matching chunks
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 80
          description: Chunks per page for full_coverage (keeps response under GPT 100k char limit)
        - name: latest_per_country
          in: query
          required: false
          schema:
            type: boolean
          description: Auto when omitted. True keeps newest plan/report per country; false for multi-year queries
        - name: top_k
          in: query
          required: false
          schema:
            type: integer
            default: 8
            maximum: 12
        - name: min_score
          in: query
          required: false
          schema:
            type: number
            default: 0.25
        - name: country_name
          in: query
          required: false
          schema:
            type: string
        - name: search_mode
          in: query
          required: false
          schema:
            type: string
            enum:
              - hybrid
              - vector
            default: hybrid
      responses:
        "200":
          description: chunks with content, document_title, page_number, score, document_url

  /public/documents/catalog:
    get:
      operationId: getPublicDocumentsCatalog
      summary: Count/list public documents by type, year, country
      description: Inventories public documents (counts, not text search). Use for "how many countries submitted an annual report or Unified Plan" instead of searchPublicDocuments. Omit year for a breakdown across all years.
      parameters:
        - name: document_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - annual_report
              - unified_plan
              - midyear_report
              - other
          description: Omit for all types
        - name: year
          in: query
          required: false
          schema:
            type: integer
          description: Omit for a by_year breakdown across all years
        - name: country_id
          in: query
          required: false
          schema:
            type: integer
        - name: country_name
          in: query
          required: false
          schema:
            type: string
        - name: file_type
          in: query
          required: false
          schema:
            type: string
        - name: include_documents
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Set false for counts only (smaller response, no per-document listing)
      responses:
        "200":
          description: total_documents, countries_count, by_type, by_year, by_country

  /public/documents/chunks/{chunk_id}/context:
    get:
      operationId: getChunkContext
      summary: Neighboring chunks around one search result
      description: Fetches up to before+1+after chunks in reading order from the same document. Use when a searchPublicDocuments chunk is truncated or its match is unclear — avoids re-searching the whole document.
      parameters:
        - name: chunk_id
          in: path
          required: true
          schema:
            type: integer
          description: chunk_id from a searchPublicDocuments result
        - name: before
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 0
            maximum: 5
          description: Chunks to include before the requested chunk
        - name: after
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 0
            maximum: 5
          description: Chunks to include after the requested chunk
      responses:
        "200":
          description: document_id, document_title, chunks[] with content/page_number/is_requested_chunk, in reading order
        "404":
          description: Chunk not found or its document is not public

  /public/documents/{document_id}:
    get:
      operationId: getPublicDocument
      summary: Public document metadata
      description: Title, countries, source_url, download_url, document_url for one public AI document.
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: document_id, document_title, document_url, source_url, download_url
        "404":
          description: Document not found or not public

  /public/documents/{document_id}/download:
    get:
      operationId: downloadPublicDocument
      summary: Download public AI document
      description: Streams a Databank-hosted file or redirects to external source_url. Use document_url from search when sharing links.
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: File stream
        "302":
          description: Redirect to external source_url
        "404":
          description: Document not found or file unavailable

  /indicator-bank:
    get:
      operationId: getIndicatorBank
      summary: Search indicator catalogue
      description: Search FDRS/UPR indicator metadata. Use resolveIndicator first when possible. Always pass limit.
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Keyword on name or definition
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 50
          description: Max results cap
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: sector
          in: query
          required: false
          schema:
            type: string
        - name: sub_sector
          in: query
          required: false
          schema:
            type: string
        - name: emergency
          in: query
          required: false
          schema:
            type: string
        - name: archived
          in: query
          required: false
          schema:
            type: string
            enum:
              - "true"
              - "false"
      responses:
        "200":
          description: indicators list with id, name, unit, fdrs_kpi_code

  /indicator-bank/{indicator_id}:
    get:
      operationId: getIndicatorById
      summary: Get one indicator
      description: Full metadata for a single indicator bank id.
      parameters:
        - name: indicator_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Indicator definition, unit, sector
        "404":
          description: Not found

  /data:
    get:
      operationId: getPublicData
      summary: Paginated public values
      description: Scoped public form data. Needs indicator_bank_id or country or period filter. Slim data[] only. Use getGlobalTrend for global totals. Keep include_dimensions false.
      parameters:
        - name: indicator_bank_id
          in: query
          required: false
          schema:
            type: integer
        - name: template_id
          in: query
          required: false
          schema:
            type: integer
          description: 21 for FDRS submissions
        - name: country_id
          in: query
          required: false
          schema:
            type: integer
        - name: country_iso3
          in: query
          required: false
          schema:
            type: string
          description: ISO3 e.g. KEN
        - name: country_iso2
          in: query
          required: false
          schema:
            type: string
        - name: period_name
          in: query
          required: false
          schema:
            type: string
          description: e.g. Annual 2023
        - name: page
          in: query
          required: true
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          required: true
          schema:
            type: integer
            default: 500
            maximum: 5000
        - name: include_dimensions
          in: query
          required: false
          schema:
            type: string
            enum:
              - "true"
              - "false"
            default: "false"
          description: Must stay false for GPT
      responses:
        "200":
          description: Paginated data rows with num_value and data_status. Percentage indicators return 0-1 decimals (25% → 0.25).

  /public/reports/country:
    get:
      operationId: getCountryReport
      summary: One-country report spec — headline KPIs, trend, cited narrative
      description: Single-call equivalent of chaining resolveCountry, getSubmissionCoverage, getPublicData, and searchPublicDocuments. Render the JSON as a one-pager yourself; never dump raw JSON to the user.
      parameters:
        - name: country
          in: query
          required: true
          schema:
            type: string
          description: Country name, ISO2/ISO3 code, or numeric id
        - name: period_hint
          in: query
          required: false
          schema:
            type: string
          description: Free text e.g. "2026 midyear" or "Annual 2024"; omit for latest
        - name: report_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - fdrs
              - upr
              - combined
            default: combined
        - name: include_prior_period
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: template_style
          in: query
          required: false
          schema:
            type: string
          description: e.g. "default" to embed design_template inline (same shape as getReportTemplate)
      responses:
        "200":
          description: country, period, coverage, headline_kpis, trend, narrative. ok=false with alternatives if the country did not resolve.

  /public/reports/template:
    get:
      operationId: getReportTemplate
      summary: HTML/CSS one-pager skeleton plus design tokens for a report style
      description: Use with getCountryReport to follow a specific layout/palette instead of a freeform render. Fill {{PLACEHOLDER}} tokens in html_template with report data; apply design_tokens even for non-HTML renders.
      parameters:
        - name: style
          in: query
          required: false
          schema:
            type: string
            default: default
      responses:
        "200":
          description: style, html_template, design_tokens, usage_notes, available_styles. ok=false with available_styles if style is unknown.
